/**
 * Blockquotes
 */
body {

  blockquote {
	  margin-bottom: 20px;
	  padding-left: 50px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  
	  font-style: italic;
	  font-family:Georgia, serif;
	  font-size: 17px;
	  
	  border-top: 3px solid #333;
	  border-bottom: 3px solid #333;
	  
	  &:before {
		  float: left;
		  margin-left: -60px;
		  margin-top: -30px;
		  
		  font-style: italic;
		  font-family: Georgia, serif;
		  font-size: 90px;
		  height: 90px;
		  
		  content: "\201f";
		  display: inline-block;
		}
		p {
			margin: 0;
			display: block;
			position: relative;
			
			em {
				position: absolute;
				bottom: -23px;
				right: 0;
				margin-top: 22px;
				margin-right: 20px;
				padding-left: 10px;
				padding-right: 15px;
				
				z-index: 1;
				background-color: white;
				display: table-cell;
				
				&:before {
					content: "~ ";
				}
			}
		}
	}
}

