$background: #272822;
$foreground: #F8F8F2;
$comment: #75715E;
$red: #F92672;
$orange: #FD971F;
$lightOrange: #E69F66;
$yellow: #E6DB74;
$green: #A6E22E;
$blue: #66D9EF;
$purple: #AE81FF;

body {
    background-color: $background;
    color: $foreground;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 20%;
}

hr {
    border: 1px solid $comment;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

#header, #footer {
    margin: 0 10%;
}

.command {
    margin: 24px 0;
}

.username {
    color: $green;
}

.machine {
    color: $comment;
}

.path {
    color: $lightOrange;
    margin-left: 20px;
}

.branch {
    color: $purple;
    margin-left: 20px;
}

.input, .output {
    color: $foreground;
}

.dir, .file {
    margin-left: 20px;
}

.dir {
    color: $blue;
}

.file {
    color: $yellow;
}
